.main-body{
    background-image: url("../resource/background-body.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.logo{
    background-image: url("../resource/app-store\ logo.png");
    height: 100px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

@font-face {
    font-family: "Quicksand";
    src: url("../font/Quicksand-Medium.ttf");
}

@font-face {
    font-family: "Honey";
    src: url("../font/HoneyScript-Light.ttf");
}

*{
    font-family: "Quicksand";
    font-size: 14px;
}

.title01{
    font-family: "Honey";
    font-size: 30px;
    letter-spacing: 3px;
}

.background{
    background-image: url("../resource/Background\ 001.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.title02{
    font-size: 25px;
    font-weight: bold;
}

